@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

:root {
  --primary-color: #440d60;
  --secondary-color: #6d73e1;
  --danger-color: #e53e3e;
  --success-color: #38a169;
  --warning-color: #d97706;
  --info-color: #3182ce;
  --dark-color: #2d3748;
  --light-color: #f5f4f2;
  --gray-light-color: #e2eaf0;
  --gray-color: #718096;
}
body {
  background-color: var(--light-color);
  font-family: "Syne", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 700;
}

.btn {
  padding: 0.375rem 1rem;
  border-radius: 0.375rem;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  &.btn--secondary {
    background-color: var(--light-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  &:disabled {
    border: 0;
    background-color: var(--light-color);
    color: var(--gray-color);
  }
}

.Home {
  height: 100vh;
  display: grid;
  place-items: center;
}


