@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root {
	--primary-color: #440D60;
	--secondary-color: #6D73E1;
	--danger-color: #e53e3e;
	--success-color: #38a169;
	--warning-color: #d97706;
	--info-color: #3182ce;
	--dark-color: #2d3748;
	--light-color: #F5F4F2;
	--gray-light-color: #e2eaf0;
	--gray-color: #718096;
}
body {
	background-color: var(--light-color);
	font-family: 'Syne', sans-serif;
}
input {
	line-height: 1.5rem;
	font-size: 0.875rem;
	padding: .375rem 5rem .375rem 1.75rem;
	border-radius: 0.375rem;
	width: 100%;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	background-color: var(--light-color);
}
input[type="number"] {
	padding: .375rem;
}

label {
	line-height: 1.5rem;
	font-weight: 500;
	font-size: 0.875rem;
}

.btn {

	padding: .375rem 1rem;
	border-radius: 0.375rem;
	background-color: var(--primary-color);
	color: #fff;
	cursor: pointer;
	&.btn--secondary {
		background-color: var(--light-color);
		color: var(--primary-color);
		border: 1px solid var(--primary-color);
	}
	&:disabled {
		border: 0;
		background-color: var(--light-color);
			color: var(--gray-color);
	}

}

